<div id="modalDashboard" style="overflow-y: auto; min-height: calc( 100vh - 107px );    height: calc( 100vh - 107px );">
    <div class="row-12">
        <!-- GLOBAL STATUS -->
        <div class="card text-center" style="border: 0;">
            <div class="card-body stats-card-body">
                <div class="row">
                    <div class="col">
                        <div class="rounded-lg p-3 shadow text-center ydb-back6">
                            <span class="ydb-fore3 bold dash-stats-header">Database:</span>
                            <a tabindex="-1" data-toggle="popover" data-trigger="hover"
                               title="" id="lblDashStatusDatabasesPopup">
                            <span class="badge badge-pill ydb-status-gray  badge-stats hand"
                                  id="lblDashStatusDatabases">Unknown</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="rounded-lg p-3 shadow text-center ydb-back6">
                            <span class="ydb-fore3 bold dash-stats-header">Journaling:</span>
                            <a tabindex="-1" data-toggle="popover" data-trigger="hover"
                               title="" id="lblDashStatusJournalsPopup">
                                <span class="badge badge-pill ydb-status-gray badge-stats hand"
                                      id="lblDashStatusJournals">Unknown</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="rounded-lg p-3 shadow text-center ydb-back6">
                            <span class="ydb-fore3 bold dash-stats-header">Replication:</span>
                            <a data-content="" data-placement="left" data-toggle="popover" data-trigger="hover" id="lblDashStatusReplicationPopup" tabindex="-1" title="">
                                <span class="badge badge-pill ydb-status-gray  badge-stats" id="lblDashStatusReplication">
                                    Unknown
                                </span>
                            </a>
                            <span id="spanDashboardStatusReplicationBacklog" style="display: none;">
                                &nbsp;&nbsp;
                                    <a data-content="" data-html="true" data-toggle="popover" data-trigger="hover" id="lblDashStatusDatabasesBacklog" tabindex="-1" title="Replication backlog">
                                        <span class="badge badge-pill repl-pill-green  badge-stats" id="lblDashStatusReplication2">
                                            Backlog
                                        </span>
                                    </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-12">
            <!-- SYSTEM INFO -->
            <div class="card text-left" style="border: 0;">
                <div class="card-body stats-card-body" style="padding: 0.8rem 1.0rem;">
                    <div class="row">
                        <div class="col-6">
                            <div class="rounded-lg p-3 shadow ydb-back6" style="padding: 5px 5px 5px 21px !important;">
                                <span class="ydb-fore3 bold dash-stats-header">Host name:</span>
                                <span class="inconsolata" id="lblDashboardHostname"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rounded-lg p-3 shadow ydb-back6" style="padding: 5px 5px 5px 21px !important">
                                <span class="ydb-fore3 bold dash-stats-header">Repl. Instance name:</span>
                                <span class="inconsolata" id="lblDashboardReplInstanceName"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- STORAGE -->
        <div class="row-12">
            <div class="card text-left" style="border: 0;">
                <div class="card-body stats-card-body">
                    <div class="row">
                        <div class="col-12">
                            <div style="display: block" id="divDashStorageDevice0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- REGIONS -->
    <div class="row-12">
        <div class="card text-left" style="border: 0;">
            <div class="card-body stats-card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="bg-white rounded-lg p-3 shadow ydb-back6">
                            <div class="row" id="alertDashboardGld" style="display: none;">
                                <div clas="col-12" style="width: 100%;">
                                    <div class="alert alert-danger dash-gld-alert" role="alert">The database is using the Global Directory file:
                                        <span id="txtGldAltFilename"></span>
                                        <span id="txtGldAltExtra"></span>
                                        <span class="dash-gld-link" onclick="app.ui.envSettings.show()">Change / Reset</span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 ydb-fore3" style="margin-bottom: 12px;">
                                    <b>Regions:</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-sm table-hover ydb-fore2" id="tblDashRegions">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 100px;"></th>
                                            <th scope="col" style="width: 100px;">Name</th>
                                            <th scope="col" style="width: 30%;">Database path</th>
                                            <th scope="col" style="width: 180px; text-align: center;">Database</th>
                                            <th scope="col" style="width: 180px; text-align: center;">Journaling</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
