<div class="modal fade" id="modalBackup" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-width-800 modal-dialog-scrollable" role="document" style="height: 645px;">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Backup</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col">
                    <div class="row">
                        <div class="col-5">
                            <label>
                                Regions:
                                <a data-content="Select the region(s) you wish to backup."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="Region">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="compact-treeContainer">
                                <div class="compact-tree" id="treeBackupRegions"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <hr>
                        <div class="col-5">
                            <label>
                                Target directory:
                                <a data-content="The destination directory. You can either select it using the ... button or type it in and validate it using the Validate button. Env vars are allowed."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="Target directory">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="input-group">
                                <input class="form-control form-control-sm" id="inpBackupTargetDir" type="text">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-sm" id="btnBackupSelectTarget" type="button">...</button>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary-red btn-sm disabled" disabled id="btnBackupValidateTarget" type="button">Validate</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-5">
                            <label>Existing backup files:
                                <a data-content="You can choose between Overwrite existing files or Rename them."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="Existing files">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="swBackupExistingFilesRename" name="existingFiles" type="radio">
                                <label class="custom-control-label" for="swBackupExistingFilesRename">Rename</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="swBackupExistingFilesReplace" name="existingFiles" type="radio">
                                <label class="custom-control-label" for="swBackupExistingFilesReplace">Replace</label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-5">
                            <label>Disable journaling in backup:
                                <a data-content="A backup database shares the same journaling characteristics of the source database. However, with this setting you can disable or turn off journaling in the backup database. Use this qualifier if you intend to open your backup database at the same time in the same environment as the source database."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="Disable journaling">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="form-group-row">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" id="swBackupDisableJournaling"
                                           type="checkbox">
                                    <label class="custom-control-label" for="swBackupDisableJournaling">&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-5">
                            <label>Record:
                                <a data-content="Timestamps (in the form of a transaction number) a database file to mark a reference point for subsequent bytestream, database, or custom backup (SANS or disk mirror) protocols. Even though DATABASE and BYTESTREAM both mark their own relative timestamps, RECORD provides an additional timestamp option."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="Record">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="form-group-row">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" id="swBackupRecord"
                                           type="checkbox">
                                    <label class="custom-control-label" for="swBackupRecord">&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-5">
                            <label>Create new journal files:
                                <a data-content="Determines the journaling characteristics of the database files being backed-up. All the established journaling characteristics apply to new journal files."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="Create new journal files">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="custom-control custom-radio">
                                <input checked class="custom-control-input" id="optBackupJournalLink" name="customRadio" type="radio">
                                <label class="custom-control-label" for="optBackupJournalLink">Yes (link to current file)</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="optBackupJournalNoLink" name="customRadio" type="radio">
                                <label class="custom-control-label" for="optBackupJournalNoLink">Yes (no link to current file)</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="optBackupJournalNone" name="customRadio" type="radio">
                                <label class="custom-control-label" for="optBackupJournalNone">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Sync IO:
                                <a data-content="Specifies that every WRITE to a journal file is to be committed directly to disk. On high-end disk subsystems (for example, those that include a non-volatile cache and consider the data to be committed when it reaches this cache), this might result in a better performance."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="Sync IO">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="form-group-row">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" id="swBackupSyncIo"
                                           type="checkbox">
                                    <label class="custom-control-label" for="swBackupSyncIo">&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="divBackupReplication" style="display: none;">
                        <hr>

                        <div class="row">
                            <div class="col-5">
                                <label>
                                    Backup Replication Instance file:
                                    <a data-content="Choose if you want to backup also the replicated instances."
                                       data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                       title="Replication Instance File">
                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                    </a>
                                </label>
                            </div>
                            <div class="col-7">
                                <div class="custom-control custom-switch">
                                    <input checked class="custom-control-input"
                                           id="swBackupReplication" type="checkbox">
                                    <label class="custom-control-label" for="swBackupReplication">&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>

                        <div class="row collapse collapse-show show" id="divBackupReplicationOptions">
                            <div class="col-5">
                                <label>Target replication directory:
                                    <a data-content="You can choose to backup the replication file in the same directory as the regions or another directory."
                                       data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                       title="Target replication directory">
                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                    </a>
                                </label>
                            </div>
                            <div class="col-7">
                                <div class="custom-control custom-radio">
                                    <input checked class="custom-control-input" id="optBackupReplSamePath" name="replOptions" type="radio">
                                    <label class="custom-control-label" for="optBackupReplSamePath">Use Target directory</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="optBackupReplNewPath" name="replOptions" type="radio">
                                    <label class="custom-control-label" for="optBackupReplNewPath">Specify a different directory</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="height: 10px;"></div>
                        <div class="row collapse collapse-show show" id="divBackupReplicationTargetDir">
                            <div class="col-5">
                                <label>
                                    Replication target directory:
                                    <a data-content="Specifies the target location to place location of the replication instance file."
                                       data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                       title="Replication target directory">
                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                    </a>
                                </label>
                            </div>
                            <div class="col-7">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" id="inpBackupReplicationTargetDir" type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary btn-sm" id="btnBackupSelectReplicationTarget" type="button">...</button>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary-red btn-sm disabled" disabled id="btnBackupValidateReplicationTarget" type="button">Validate</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-5">
                            <label>
                                Run in the background:
                                <a data-content="By selecting this switch, the task will run in the background and you can continue using the GUI.<BR>When the task is completed, a link on the screen will appear for you to view the report"
                                   data-toggle="popover" data-trigger="hover" id="hlpCompactRunBackground" role="button" tabindex="-1"
                                   title="Run in the background">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-7">
                            <div class="form-group-row">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" id="swBackupRunBackground"
                                           type="checkbox">
                                    <label class="custom-control-label" for="swBackupRunBackground">&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info disabled" disabled id="btnBackupOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnBackupCancel" tabindex="-1" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Backup result dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalBackupResult" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-700 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <label class="modal-title">Backup report</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="inconsolata" id="divBackupResult" style="height: 450px; overflow-y: auto">
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnBackupResultCopyToClipboard" tabindex="10" type="button">
                    <i class="bi-clipboard2-data-fill hand"></i>&nbsp; Copy to clipboard
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
