<!-- repl load dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalReplLoad" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Load layout</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row-12" style="display: flex;">
                    <div class="col-5" style="padding-bottom: 10px;">
                        <h6 class="bold" style="margin-right: 30px;">Name:</h6>
                        <select class="form-control" id="selReplLoadNames" size="10">
                        </select>
                    </div>
                    <div class="col-7" style="padding-bottom: 10px;">
                        <h6 class="bold" style="margin-right: 30px;">Description:</h6>
                        <div id="divReplLoadDescription" style="border: 1px solid silver; padding: 5px; overflow-y: auto; height: 180px; margin-bottom: 10px;">
                        </div>
                        <div style="display: flex;">
                            <h6 class="bold" style="margin-right: 30px;">Autoload:</h6>&nbsp;<span id="lblReplLoadAutoload"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnReplLoadDelete" style="margin-right: 10px;" tabindex="10" type="button">
                    Delete
                </button>
                <button class="btn btn-outline-info" id="btnReplLoadOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnReplLoadCancel" tabindex="-1" type="button">Cancel</button>

                <button class="btn btn-outline-info " id="btnReplLoadHelp" style="width: 37px; height: 37px; padding-left: 8px; margin-left: 30px;" title="Help"
                        type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>
