<!-- repl save dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalReplSave" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-600 " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Save layout</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-5">
                        <label>Name:</label>
                    </div>
                    <div class="col-7">
                        <input class="form-control form-control-sm" id="inpReplSaveName" maxlength="30" type="text">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-5">
                        <label>Description:</label>
                    </div>
                    <div class="col-7">
                        <textarea class="form-control form-control-sm" id="inpReplSaveDescription" rows="4" sgtyle="width: 100%;"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-5">
                        <label>Autoload:</label>
                    </div>
                    <div class="col-7">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" id="swReplSaveAutoload" type="checkbox">
                            <label class="custom-control-label" for="swReplSaveAutoload"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnReplSaveOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
                <button class="btn btn-outline-info " id="btnReplSaveHelp" style="width: 37px; height: 37px; padding-left: 8px; margin-left: 30px;" title="Help"
                        type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>
