<!-- dumpResponse -->
<div class="modal  fade" id="modalDumpResponse" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header center msgbox-header">
                <h6 class="modal-title">Troubleshooting </h6>
            </div>
            <div class="modal-body">
                <span id="txtDumpResponse"></span>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-secondary" data-dismiss="modal" id="btnDumResponseOk" tabindex="1" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
