<div class="modal fade" id="modalPrefs" role="dialog" style="z-index: 2000;" tabindex="-1">
    <div class="modal-dialog modal-width-800 " role="document" style="height: 645px;">
        <div class="modal-content" id="divPreferencesContent">
            <div class="modal-header">
                <label class="modal-title" id="lblPreferencesTitle">Preferences</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body prefs-body">
                <div class="col-5" style="padding-right: 0; padding-left: 5px;">
                    <div class="prefs-tree-container" id="divPrefsTreeContainer">
                        <div id="treePrefsTree">Tree</div>
                    </div>
                </div>
                <div class="col-7" style="padding-right: 5px;">
                    <!-- The fields panes-->
                    <div class="prefs-items-container">
                        <div class="" id="divPrefsItemsContainer" style="display: none;">
                            <table class="table table-sm table-hover ydb-fore2" id="tblPrefsItems">
                                <thead>
                                <tr style="font-size: 12px; font-weight: 600;">
                                    <th scope="col" style="width: 258px;">Param</th>
                                    <th scope="col" style="width: 12px;"></th>
                                    <th scope="col" style="width: 235px;">Value</th>
                                    <th scope="col" style="width: 61px;">Unit</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="" id="divPrefsRangePercentContainer" style="display: none;">
                            <h5 class="center" id="h5PrefsRangePercentHeader" style="margin-bottom: 10px; margin-top: 10px;"></h5>
                            <div style="margin-left: 8px; margin-right: 8px;">
                                <table class="'table table-bordered prefs-percent-table">
                                    <tr>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangePercent1" style="background: var(--ydb-status-green);"></td>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangePercent2" style="background: var(--ydb-status-amber);"></td>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangePercent3" style="background: var(--ydb-status-red);"></td>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangePercent4" style="background: var(--ydb-status-red);"></td>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" style="background: var(--ydb-status-green);"> </span>
                                    </div>
                                    <div class="col-5">
                                        <span id="lblPrefsRangePercent1"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" id="inpPrefsRangePercent1" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" style="background: var(--ydb-status-amber);"> </span>
                                    </div>
                                    <div class="col-5">
                                        <span id="lblPrefsRangePercent2"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" id="inpPrefsRangePercent2" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" style="background: var(--ydb-status-red);"> </span>
                                    </div>
                                    <div class="col-5">
                                        <span id="lblPrefsRangePercent3"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" id="inpPrefsRangePercent3" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" id="lblPrefsRangePercentFlash" style="background: var(--ydb-status-red);"> </span>
                                    </div>
                                    <div class="col-5">
                                        <span id="lblPrefsRangePercent4"></span>
                                    </div>
                                </div>
                                <div class="prefs-percent-help" id="lblPrefsRangePercentHelp">

                                </div>
                            </div>
                        </div>

                        <div class="" id="divPrefsRangeExtensionsContainer" style="display: none;">
                            <h5 class="center" style="margin-bottom: 10px; margin-top: 10px;">Disk space alert for Auto Extend mode</h5>
                            <div style="margin-left: 8px; margin-right: 8px;">
                                <table class="'table table-bordered prefs-percent-table">
                                    <tr>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangeExt1" style="background: var(--ydb-status-green);"></td>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangeExt2" style="background: var(--ydb-status-amber);"></td>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangeExt3" style="background: var(--ydb-status-red);"></td>
                                        <td class="prefs-percent-table-row" id="tdPrefsRangeExt4" style="background: var(--ydb-status-red);"></td>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" style="background: var(--ydb-status-green);"> </span>
                                    </div>
                                    <div class="col-6">
                                        <span id="lblPrefsRangeExt1"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" id="inpPrefsRangeExt1" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" style="background: var(--ydb-status-amber);"> </span>
                                    </div>
                                    <div class="col-6">
                                        <span id="lblPrefsRangeExt2"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" id="inpPrefsRangeExt2" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" style="background: var(--ydb-status-red);"> </span>
                                    </div>
                                    <div class="col-6">
                                        <span id="lblPrefsRangeExt3"></span>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" id="inpPrefsRangeExt3" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1" style="margin-bottom: 12px;">
                                        <span class="pref-percent-block" id="lblPrefsRangeExtFlash" style="background: var(--ydb-status-red);"> </span>
                                    </div>
                                    <div class="col-6">
                                        <span id="lblPrefsRangeExt4"></span>
                                    </div>
                                </div>
                                <div class="prefs-percent-help" id="lblPrefsRangeExtHelp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnPrefsOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel</button>
                <button class="btn btn-outline-info" id="btnPrefsExportRanges" style="margin-left: 40px;" tabindex="10" type="button">
                    Export ranges...
                </button>
            </div>
        </div>
    </div>
</div>

