<!-- Permalinks dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalPermalinks" role="dialog"
     style="z-index: 100000;" tabindex="-1">
    <div class="modal-dialog modal-width-600" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <label class="modal-title" id="modalLabel">Permalinks</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <label for="inpPermalink"><b>Permalink:</b></label>
                    </div>

                    <div class="row">
                        <input class="form-control" id="inpPermalink" readonly type="text">
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnCopyToClipboard" tabindex="10" type="button">
                    <i class="bi-clipboard2-data-fill hand"></i>&nbsp; Copy to clipboard
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnBackupDirSelectCancel" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>


