<!-- System info dialog -->
<div class="modal fade" id="modalSystemInfo" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true" data-include="hidden" style="animation-name: hidden;">
    <div class="modal-dialog modal-width-900 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">System information</label>
                <button type="button" class="close" data-dismiss="modal" tabindex="-1" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="divSystemInfoRocto" style="display: none;">
                    <div class="rounded-lg p-3 shadow ydb-back6">
                        <span class="ydb-fore3 bold dash-stats-header">Rocto:</span>
                        <span class="badge badge-pill ydb-status-green  badge-stats"
                              id="lblDashStatusRocto"></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="spanSystemInfoRocto" style="display: none;">
                            <span style="font-weight: bold;">IP: </span>
                            <span id="lblSystemInfoRoctoIp"></span>
                            <span style="font-weight: bold;">&nbsp;&nbsp;&nbsp;Port: </span>
                            <span id="lblSystemInfoRoctoPort"></span>
                            <span style="font-weight: bold;">&nbsp;&nbsp;&nbsp;Params: </span>
                        <span id="lblSystemInfoRoctoParams"></span>
                            </span>
                    </div>

                    <br>

                </div>

                <div class="ydb-back6 shadow" style="overflow-y: auto; overflow-x: hidden; height: 277px;">
                    <br>
                    <div class="row-12">
                        <div class="align-left">
                            <div class="row">
                                <div class="col-4">
                                    <span class="ydb-fore3 bold dash-stats-header" style="margin-left: 7px;">Routine search path:</span>
                                </div>
                                <div class="col-8" style="overflow-x: auto;">
                                    <nobr><span class="inconsolata" id="lblSystemInfoRoutines"></span></nobr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-12 top-padding-5">
                        <div class="align-left">
                            <div class="row">
                                <div class="col-4">
                                    <span class="ydb-fore3 bold dash-stats-header" style="margin-left: 7px;">Global directory:</span>
                                </div>
                                <div class="col-8" style="overflow-x: auto;">
                                    <nobr><span class="inconsolata" id="lblSystemInfoGlobalDirectory"></span></nobr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divSystemInfoReplicationInstance" style="display: none;">
                        <div style="height: 5px;"></div>
                        <div class="row-12">
                            <div class="align-left">
                                <div class="row">
                                    <div class="col-4">
                                        <span class="ydb-fore3 bold dash-stats-header" style="margin-left: 7px;">Replication instance:</span>
                                    </div>
                                    <div class="col-8">
                                        <span id="lblSystemInfoReplicationInstance"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-12 top-padding-5">
                        <div class="align-left">
                            <div class="row">
                                <div class="col-4">
                                    <span class="ydb-fore3 bold dash-stats-header" style="margin-left: 7px;">Mode:</span>
                                </div>
                                <div class="col-8">
                                    <span id="lblSystemInfoMode"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-12 top-padding-5">
                        <div class="align-left">
                            <div class="row">
                                <div class="col-4">
                                    <span class="ydb-fore3 bold dash-stats-header" style="margin-left: 7px;">Encryption:</span>
                                </div>
                                <div class="col-8">
                                    <span id="lblSystemInfoEncryption"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-12 top-padding-5">
                        <div class="align-left">
                            <div class="row">
                                <div class="col-4">
                                    <span class="ydb-fore3 bold dash-stats-header" style="margin-left: 7px;">Node.js:</span>
                                </div>
                                <div class="col-8">
                                    <span id="lblSystemInfoNodeServer"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <br>

                <div class="ydb-back6 shadow">
                    <br>
                    <div class="row-12">
                        <div class="align-left">
                            <div class="row">
                                <div class="col-2" style="margin-bottom: 12px;">
                                    <span class="ydb-fore3 bold dash-stats-header" style="margin-left: 7px;">Plugins:</span>
                                </div>
                                <div class="col-10">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div style="height: 147px; overflow: auto">
                                        <table class="table table-sm table-hover" id="tblSystemInfoPlugins">
                                            <thead>
                                            <tr style="background: var(--ydb-lightgray); position: sticky; top: 0;">
                                                <th scope="col" style="max-width: 100px">Name</th>
                                                <th nowrap="nowrap" scope="col" style="max-width: 300px">Description</th>
                                                <th class="center" scope="col" style="max-width: 100px">Version</th>
                                                <th scope="col" style="max-width: 100px">Vendor</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row-12">
                    <div class="align-left">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-outline-info btn-sm btn-block" type="button"
                                        id="btnSystemInfoEnvironmentVariables">
                                    Environment variables...
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1">Close</button>
            </div>
        </div>
    </div>
</div>
