<!-- Gviewer settings confirm -->
<div class="modal fade" id="modalGviewerSettingsConfirm" role="dialog" style="z-index: 2000" tabindex="-1">
    <div class="modal-dialog modal-width-500 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Updating settings</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-12">
                        <label>Please, select where the settings will apply:</label>
                    </div>
                </div>

                <div style="height: 12px;"></div>

                <div class="row">
                    <div class="col-12">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="chkGviewerSettingsConfirmSettings" type="checkbox">
                                <label class="form-check-label" for="chkGviewerSettingsConfirmSettings">Update settings in browser storage</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="chkGviewerSettingsConfirmCurrentTab" type="checkbox">
                                <label class="form-check-label" for="chkGviewerSettingsConfirmCurrentTab">Update current tab</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" disabled id="chkGviewerSettingsConfirmAllTabs" type="checkbox">
                                <label class="form-check-label" for="chkGviewerSettingsConfirmAllTabs">Update other tabs</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnGviewerSettingsConfirmOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
