<!-- Globalmappings dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalGlobalMappings" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <label class="modal-title">Global Mappings</label>
        <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body modal-scrollable" style="padding-top: 0;">
        <div style="height: 450px; background: white;">
          <table class="table table-hover" id="tblGlobalMappings">
            <thead>
            <tr style="font-size: 18px; font-weight: 600;">
              <th class="global-mappings-th" scope="col" style="max-width: 400px; width: 400px; background: white;">Global</th>
              <th class="global-mappings-th" scope="col" style="background: white;">Region</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer center">
        <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
      </div>
    </div>
  </div>
</div>

