/****************************************************************
 *								                                *
 * Copyright (c) 2022-2024 YottaDB LLC and/or its subsidiaries.	*
 * All rights reserved.						                    *
 *								                                *
 *	This source code contains the intellectual property	        *
 *	of its copyright holder(s), and is made available	        *
 *	under a license.  If you do not know the terms of	        *
 *	the license, please stop and do not read further.	        *
 *								                                *
 ****************************************************************/

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FiraGO-Regular.woff2") format('woff2')
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inconsolata-Regular.woff2") format('woff2')
}

:root {
    --ydb-orange: #ff7f27;
    --ydb-purple: #3b1a68;
    --ydb-lightgray: #f3f3f3;
    --ydb-darkgray: #231f20;
    --ydb-status-red: #ce3a3a;
    --ydb-status-amber: #eab83b;
    --ydb-status-green: #64a555;
}

body {
    background-color: white;
    color: var(--ydb-purple);
    font-family: 'FiraGO', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mainscreen {
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 0;
    padding: 0;
}

.main {
    background-color: #ffffff;
}

.menu-header-2 {
    color: var(--ydb-purple);
    font-weight: 600
}

.dropdown-divider {
    background: var(--ydb-orange) !important;
    height: 2px;
    border-top: 0;
}

.dropdown-menu {
    color: var(--ydb-orange) !important;
    background-color: var(--ydb-purple);
    border: 1px solid var(--ydb-orange);
    border-radius: .45rem;
}

.dropdown-item {
    color: var(--ydb-orange) !important;

}

.dropdown-submenu {
    color: var(--ydb-orange) !important;
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    color: var(--ydb-orange) !important;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    color: var(--ydb-orange) !important;
    display: block;
}

.dropdown-submenu > a:after {
    color: var(--ydb-orange) !important;
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}

a {
    color: var(--ydb-orange) !important;
}

a:hover {
    color: #000000;
    text-decoration: none !important;
}

.ydb-purple-fore {
    color: var(--ydb-purple) !important;
}

.ydb-orange-fore {
    color: var(--ydb-orange) !important;
}

.nav-link.active {
    background: var(--ydb-lightgray) !important;
    color: var(--ydb-purple) !important
}

.ydb-fore3 {
    color: var(--ydb-purple) !important;
}

.ydb-fore2 {
    color: var(--ydb-purple) !important;
}

.ydb-back3 {
    background: var(--ydb-purple) !important;
}

.ydb-fore-green {
    color: var(--ydb-status-green) !important;

}

.ydb-fore-red {
    color: var(--ydb-status-red) !important;
}

.modal-header {
    background: var(--ydb-lightgray);
}

.modal-content {
    border-radius: 0.7rem !important;
}

.modal-content-shadow {
    box-shadow: 2px 2px 7px 3px #ccc;
}

.modal-width-400 {
    max-width: 400px;
}

.modal-width-500 {
    max-width: 500px;
}

.modal-width-600 {
    max-width: 600px;
}

.modal-width-700 {
    max-width: 700px;
}

.modal-width-800 {
    max-width: 800px;
}

.modal-width-900 {
    max-width: 900px;
}

.modal-width-1000 {
    max-width: 1000px;
}

.modal-width-1100 {
    max-width: 1100px;
}

.font-12 {
    font-size: 12px;
}

.hand {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

.center {
    display: block;
    text-align: center;
}

.header-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.background-white {
    background: white !important;
}

.fore-black {
    color: black;
}

.field-info {
    line-height: 12px;
}

.field-info span {
    font-size: 11px;
}

.disabled {
    color: #aaaaaa !important;
    cursor: default !important;
}

.select-dropdown {
    width: 400px;
    height: 210px;
    left: initial;
}

.select-textarea {
    width: 440px;
    height: 145px;
    resize: none;
}

.maintenance-description {
    text-align: center;
}

.compact-tree {
    background-color: #fff;
    height: 100%;
}

.compact-treeContainer {
    background-color: #fff;
    overflow-y: scroll;
    height: 100px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

.compact-range-label-left {
    font-size: 11px;
}

.compact-range-label-right {
    margin-top: -17px;
    text-align: right;
    font-size: 11px;
}

.modal-scrollable {
    overflow-y: auto;
}

.compact-result-region-header {
    background-color: var(--ydb-lightgray);
    color: var(--ydb-orange);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.custom-control-input:focus ~ .custom-control-label::before {
    border-color: var(--ydb-purple) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 47, 69, 0.25) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--ydb-purple) !important;
    background-color: var(--ydb-purple) !important;
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--ydb-purple) !important;
    border-color: var(--ydb-purple) !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: var(--ydb-purple) !important;
}

.custom-control-input-green:not(:disabled):active ~ .custom-control-label::before {
    background-color: var(--ydb-purple) !important;
    border-color: var(--ydb-purple) !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--ydb-purple) !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(28, 144, 0, 79.25)
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(28, 144, 79, 0.25)
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--ydb-purple);
}

input[type=range]::-webkit-slider-thumb {
    background: var(--ydb-purple);
}

input[type=range]::-moz-range-thumb {
    background: var(--ydb-purple);
}

.tab-link {
    font-weight: bold;
}

.stats-card-header {
    padding: 0.15rem .72rem;
    background: white !important;
    color: var(--ydb-purple) !important;
}

.stats-card-body {
    background: white ! important;
}

.stats-badge {
    font-size: 90%;
}

.badge {
    color: white !important;
    padding: 6px;
    font-weight: 600;
    font-size: 12px;
}

.badge-permissions {
    color: var(--ydb-status-amber) !important;
    padding: 6px;
    font-weight: 600;
    font-size: 12px;
}

.badge-stats {
    font-size: 16px;
}

.badge-green-bgnd {
    background: var(--ydb-orange) !important;
}

.badge-gray {
    background-color: var(--ydb-lightgray) !important
}

.badge-red {
    background-color: var(--ydb-status-red) !important
}

.badge-green {
    background-color: var(--ydb-status-green) !important
}

.bg-tertiary4 {
    background: var(--ydb-purple) !important;
}

.bg-tertiary5 {
    background: var(--ydb-lightgray) !important;
}

.btn-success {
    background: var(--ydb-purple)
}

.drop-db-center {
    margin-top: 23px;
}

.nav-tabs .nav-link {
    border: 1px solid lightgray;
    padding: 5px 11px;
}

.msgbox-header {
    border-radius: 0.7rem 0.7rem 0 0 !important
}

.modal-title {
    font-weight: 600;
}

.btn-outline-info:hover {
    color: var(--ydb-purple);
    background: var(--ydb-orange);
    border-color: var(--ydb-purple)
}

.btn-outline-info {
    color: var(--ydb-purple);
    border-color: var(--ydb-purple);
    background: white;
}

.btn-outline-info:disabled {
    color: var(--ydb-darkgray) !important;
    border-color: var(--ydb-darkgray) !important;
    background: transparent !important
}

.btn-outline-success:hover {
    color: var(--ydb-purple);
    background: var(--ydb-orange);
    border-color: var(--ydb-purple)
}

.btn-outline-success {
    color: black;
    border-color: black;
    background: #e3e3e3;
}

.btn-outline-success:disabled {
    color: var(--ydb-darkgray) !important;
    border-color: var(--ydb-darkgray) !important;
    background: transparent !important
}

.btn-outline-secondary:hover {
    color: white;
    background: black;
    border-color: black;
}

.btn-outline-secondary-red:hover {
    color: white;
    background: var(--ydb-status-red);
    border-color: black;
}

.btn-outline-secondary {
    color: black;
    border-color: black;
}

.btn-outline-secondary-red {
    color: var(--ydb-status-red);
    border-color: var(--ydb-status-red);
}

.btn-outline-secondary:disabled {
    color: var(--ydb-darkgray) !important;
    border-color: var(--ydb-darkgray) !important;
    background: transparent !important
}

.ydb-orange-fore {
    color: var(--ydb-orange)
}

.ydb-back6 {
    background: var(--ydb-lightgray) !important;
}

.ydb-purple-fore {
    color: var(--ydb-purple)
}

.ydb-status-red {
    background: var(--ydb-status-red) !important;
    color: white !important;
}

.ydb-status-green {
    background: var(--ydb-status-green) !important;
    color: white !important;
}

.ydb-status-green-readable {
    background: var(--ydb-status-green) !important;
    color: var(--ydb-purple) !important;
}

.ydb-status-amber {
    background: var(--ydb-status-amber) !important;
    color: var(--ydb-purple) !important;
}

.ydb-status-gray {
    background: var(--ydb-lightgray) !important;
    border: 1px solid var(--ydb-purple) !important;
    color: var(--ydb-purple) !important;
}

.ydb-status-gray-no-border {
    background: var(--ydb-lightgray) !important;
    color: var(--ydb-purple) !important;
}

.table-row-pill {
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.table-pill {
    border-radius: 5px;
    text-align: center;
    cursor: default;
}

.progress-bar {
    font-size: 15px;
}

.popover-header {
    background: var(--ydb-orange)
}

.dash-plus-button {
    font-size: 17px;
    font-weight: 700;
}

.region-view-detail-table-row {
    font-size: 11px;
    color: var(--ydb-purple) !important;
    height: 20px;
    text-align: left;
}

.modal-font {
    font-size: 13px;
}

.ydb-popover-header {
    background: var(--ydb-orange);
    color: var(--ydb-purple);
    text-align: center;
}

.region-view-stats-sub-header {
    text-align: center;
    font-weight: bold;
}

.region-view-alerts {
    padding: 0;
    padding-left: 5px;
    text-align: left;
    font-size: 13px;
}

.top-padding-5 {
    padding-top: 5px;
}

.ydb-image {
    font-weight: 600;
    padding-left: 8px;
}

.sides-padding-10 {
    padding: 0 10px;
}

.locks-info {
    font-size: 12px;
    font-weight: 600;
}

.locks-trees {
    overflow-y: scroll;
    height: 334px;
    border: 1px solid black;
}

.dash-stats-header {
    padding-right: 6px;
}

.stats-table {
    width: 620px;
    margin: 0 auto;
}

.form-fields {
    padding-bottom: 5px;
}

.region-select.left {
    font-size: 17px;
    font-weight: bold;
}

.region-select.right {
    font-size: 14px;
    font-weight: normal;
}

.popover {
    z-index: 20000;
}

.gauge-color {
    color: #5b3a88 !important
}

.edit-control {
    height: 100%;
    width: 100%;
}

.table-controls {
    height: 70%;
}

.table-controls-prefs-cells {
    height: 90%;
}

.table-controls-prefs-color {
    height: 20px;
    padding: 0;
}

.popover-header {
    font-size: 14px !important;
    padding: 5px;
}

.region-filename-button {
    height: 20px;
    padding: 1px;
}

.table-center {
    margin: 0 auto;
}

.link-underline {
    text-decoration: underline !important;
}

.link-underline:hover {
    text-decoration: underline !important;
}

.reload {
    font-family: Lucida Sans Unicode
}

.font-inconsolata {
    font-family: 'Inconsolata', sans-serif;
    text-align: right;
}

.font-strike {
    text-decoration: line-through;
}

.region-edit-switch-type {
    display: inline;
    padding: 9px 1px 8px 5px;
    border-radius: 15px;
}

.custom-control-label {
    padding-top: 4px;
}

.v-align-middle {
    vertical-align: middle !important;
}

.edit-overview-header {
    font-weight: bold;
    font-size: 12px;
    background: var(--ydb-lightgray);
    text-align: left;
}

.edit-overview-cell {
    font-size: 12px;
    text-align: right;

}

.locks-manager-font-inconsolata {
    font-family: 'Inconsolata', sans-serif;
    font-size: 22px;
    color: var(--ydb-status-green)
}

.font-strike {
    text-decoration: line-through;
}

.jstree-default li > a {
    color: var(--ydb-purple) !important;
}

.jstree-default li > a > i {
    color: var(--ydb-orange) !important;
}

.jstree-hovered {
    background: #ddd !important;
}

.jstree-clicked {
    background: #eee !important;
    font-weight: bold;
}

.inconsolata {
    font-family: 'Inconsolata', sans-serif !important;
}

datalist option {
    color: #ff0000;
    background: yellow;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    color: var(--ydb-status-green);
    background: #efefef;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*  sortable */

#ulLastUsedGlobalsManager {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#ulLastUsedGlobalsManager li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    height: 45px;
    padding-top: 9px;
    color: var(--ydb-orange);
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

/* */

.tab-font {
    font-size: 12px;
}

.tab-close-button {
    margin-top: -2px;
    font-size: 19px;
}

.gviewer-table {
    border: solid lightgray 1px !important;
    table-layout: fixed;
    outline: none;
}

.gviewer-table td {
    overflow: auto;
}

.gviewer-table-th {
    padding: 4px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.gviewer-table-toolbar {
    background: white
}

.global-bookmark {
    text-align: center;
}

.resizer:hover,
.resizing {
    border-right: 2px solid black;
}

.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;

    z-index: 1;
}

.color-picker-item {
    height: 16px;
    width: 16px;
    position: relative;
    left: -2px;
    top: 10px;
}

.bookmark-menu {
    margin-bottom: 0;
    top: 3px;
}

/* This is ensuring that the toggle buttons in the global viewer (piece type) are displayed correctly */
.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
    background: var(--ydb-status-green);
    border-color: var(--ydb-status-green);
}

.wait {
    cursor: wait !important;
}

.gviewer-param-label {
    font-size: 12px;
}

.gviewer-param-number {
    height: 23px;
    margin-top: 6px;
}

.gviewer-select {
    font-size: 14px;
    height: 31px;
}

.rviewer-select-header {
    background: var(--ydb-lightgray);
    color: var(--ydb-purple);
}

.rviewer-selected-row {
    background: #e9e6e6;
}

.tab-pill {
    background: var(--ydb-orange);
    color: white;
    border-radius: 4px;
}

.properties-value {
    text-align: right;
}

.cm-s-monokai span.cm-error {
    background-color: #000
}

.permission-pill-div {
    height: 43px;
    margin-top: -8px;
    padding: 16px 6px !important
}

.permission-pill {
    padding: 3px 26px;
    background: #ffffff;
    color: var(--ydb-purple) !important;
    border: solid var(--ydb-orange) 1px;
}

.defrag-detail-report-td {
    text-align: center
}

.defrag-report-td {
    text-align: right
}

.defrag-detail-report-th {
    vertical-align: middle !important;
    text-align: center !important;
    background: var(--ydb-lightgray);
    position: sticky;
    top: 0;
}

.integ-advanced-labels {
    padding-bottom: 4px;
}

.integ-report-table-td {
    font-family: 'Inconsolata', sans-serif;
    border-width: 0 !important;
    border-top: 0
}

.region-journal-files-row {
    font-size: 12px;
    vertical-align: middle;
}

.stand-out {
    font-size: 13px;
}

.range-bg-green {
    background-color: var(--ydb-status-green) !important;
}

.range-bg-amber {
    background-color: var(--ydb-status-amber) !important;
}

.range-bg-red {
    background-color: var(--ydb-status-red) !important;
}

.global-mappings-th {
    padding: 4px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-row-highlight {
    background: var(--ydb-lightgray)
}

.routine-tree {
    overflow-y: scroll;
    height: 351px;
    border: 1px solid black;
}

.routine-path-action-button {
    width: 133px;
}

.file-select-so {
    color: green;
}

.journal-file-space-indicator {
    border: 1px solid var(--ydb-darkgray)
}

.global-horolog-viewer {
    text-decoration: underline dotted goldenrod 2px;
}

.gviewer-json-viewer {
    width: 300px;
    height: 300px;
    border: solid 2px var(--ydb-orange);
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    overflow: auto;
    background: white;
}

.gviewer-json-viewer-content {
    position: absolute;
    background: white;
    padding: 5px;
    overflow: auto;
    color: blue;
}

.selected {
    background: lightgray;
}

.globals-not-found {
    font-size: 14px;
    font-style: italic;
}

.global-size-header-label {
    font-size: 16px;
    font-weight: bold;
    color: var(--ydb-purple)
}

.global-size-header-global {
    font-size: 16px;
    font-weight: bold;
    color: var(--ydb-orange)
}

.global-list-header {
    padding: 4px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--ydb-lightgray);
    font-size: 12px;
    font-weight: 600;
}

.qry-panel-left {
    flex: 0 0 auto;
    max-width: 1000px;
    width: 250px;
    /*min-width: 50px;*/
    white-space: nowrap;

    border: 1px solid silver;
}

.qry-panel-right {
    flex: 1 1 auto;
    /* resizable */
    width: 100%;
    min-width: 100px;

    border: 1px solid silver;
}

.qry-panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
}

.qry-panel-top {
    flex: 0 0 auto;
    max-height: 1000px;
    height: 180px;
    min-height: 100px;
    width: 100%;
    white-space: nowrap;
    border: 1px solid silver;
}

.qry-panel-bottom {
    flex: 1 1 auto;
    height: 100%;
    padding: 10px;

    border: 1px solid silver;
}

.qry-splitter {
    flex: 0 0 auto;
    width: 100%;
    min-height: 4px;
    cursor: row-resize;
}

.octo-table-header {
    font-size: 18px;
    max-width: 1000px;
    overflow-wrap: break-word;
    background: #d3d3d3;
    color: #0000ff;
    padding: 4px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.octo-table {
    border: solid lightgray 1px !important;
    width: max-content;
}

.octo-table-col {
    padding-right: 20px;
}

.text-bgnd-white {
    background: white;
}

.text-bgnd-yellow {
    background: yellow;
}

.text-bgnd-orchid {
    background: darkorchid;
}

.octo-status-bar {
    padding: 4px;
    position: sticky;
    bottom: 0;
    z-index: 100;
    background: var(--ydb-lightgray);
    height: 32px;
    border: 1px solid silver;
}

.octo-status-bar-input {
    height: 20px;
    width: 80px;
}

.CodeMirror {
    background: lightyellow;
    border: 1px solid #eee;
    height: 100%;
}

.octo-helper-statement-box {
    width: 150px;
    height: 158px;
    position: absolute;
    background: lightyellow;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.octo-helper-columns-box {
    width: 200px;
    height: 250px;
    position: absolute;
    background: lightyellow;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.octo-helper-columns-select {
    height: calc(100% - 37px) !important;
}

.octo-cli-clear-button {
    right: 5px;
    top: 5px;
    float: right;
    position: sticky;
}

.octo-queried-tab {
    color: orange;
    font-size: 9px;
}

.octo-popup-definition {
    width: 400px;
    height: 450px;
    position: absolute;
    background: lightyellow;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

.jstree-anchor {
    color: var(--ydb-purple) !important;
}

.jstree-search {
    color: var(--ydb-orange) !important;
}

.dash-gld-alert {
    padding: 0;
    padding-left: 15px;
}

.dash-gld-link {
    float: right;
    padding-right: 15px;
    text-decoration: underline;
    cursor: pointer;
}

/*
************************
 Preferences
************************
 */
.prefs-body {
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
}

.prefs-tree-container {
    overflow-y: auto;
    height: 400px;
    border: 1px solid black;
}

.prefs-items-container {
    height: 400px;
    border: 1px solid black;
    padding: 5px;
}

.prefs-percent-table {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
}

.prefs-percent-table-row {
    height: 40px;
}

.prefs-percent-help {
    width: 100%;
    height: 100px;
    border: 1px darkgray solid;
    margin-top: 8px;
    padding: 5px;
}

.pref-percent-block {
    display: block;
    height: 28px;
    width: 28px;
}

/*
************************
 Statistics
************************
 */
.btn-stats-help {
    width: 37px;
    height: 37px;
    padding-left: 8px;
    margin-left: 30px;
    padding-top: 4px;
}

.stats-spark-panel-top {
    flex: 0 0 auto;
    padding: 5px;
    max-height: 1000px;
    height: 170px;
    min-height: 100px;
    width: 100%;
    white-space: nowrap;
    border: 1px solid silver;
}

.stats-spark-panel-bottom {
    flex: 1 1 auto;
    height: 100%;
    padding: 10px;
    border: 1px solid silver;
}

.stats-toolbar-icons {
    font-size: 15px;
}

.stats-source-load-description {
    border: 1px solid silver;
    padding: 5px;
    height: 218px;
}

.stats-status {
    height: 44px;
    display: flex;
}

.stats-toolbar {
    height: 31px;
    margin-top: 9px;
    display: block;
    background-color: #f6f6f6;
}

.stats-toolbar-buttons {
    height: 30px;
    /*background-color: white !important;*/
    margin-right: 10px;
}

.stats-status-bar {
    padding: 4px;
    position: sticky;
    bottom: 0;
    z-index: 100;
    background: var(--ydb-lightgray);
    height: 32px;
    border: 1px solid silver;
    display: flex;
}

.stats-result-status-bar {
    padding: 4px;
    position: sticky;
    bottom: 9px;
    z-index: 100;
}

.stats-result-table {
    border: solid lightgray 1px !important;
}

.stats-result-table thead {
    position: sticky;
    top: 0;
    z-index: 20;
    color: var(--ydb-status-green)
}

.stats-result-table th {
    text-align: center;
    border: 1px solid silver;
    padding: 4px;
}

.stats-result-table td {
    text-align: center;
    border: 1px solid silver;
    padding: 4px;
}

.stats-result-table tbody {
    color: var(--ydb-purple)

}

.stats-result-nav-bar {
    position: sticky;
    bottom: 0;
    z-index: 100;
}

.sticky-col {
    position: sticky;
    left: 0;
    z-index: 50;
}

.checkbox-menu {
    background-color: white;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

/*
************************
 Spark chart editor table
************************
 */
.stats-sparkchart-options-add-dropdown {
    padding: 0;
    color: white !important;
    background-color: white;
    height: 20px;
}

.stats-sparkchart-options-add {
    font-size: 15px;
    color: var(--ydb-status-green);
}

.stats-sparkchart-options-add-cell {
    vertical-align: middle !important;
    width: 100%;
    height: 41px;
}

.stats-sparkchart-options-delete {
    font-size: 15px;
    color: var(--ydb-status-red);
    padding-right: 13px;
}

.stats-sparkchart-options-icon {
    font-size: 14px;
    color: var(--ydb-purple);
    padding: 5px;
    background-color: lightblue;
    position: relative;
}

.stats-sparkchart-options-id {
    font-size: 21px;
    font-weight: 900;
    color: gray;
    width: 50px;
    display: block;
}

/*
************************
 Spark chart various
************************
 */

.stats-sparkchart-mapping-header {
    background: #d3d3d3;
    padding: 4px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.stats-sparkchart-settings-report-orientation-left {
    background: #f8f8f2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.stats-sparkchart-settings-report-orientation-right {
    background: #f8f8f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.stats-sparkchart-render-report-line-table {
    width: 100%;
}

.stats-sparkchart-render-report-line-table tr td {
    padding: 2px 5px;
}

.stats-sparkchart-highlights-range-line {
    display: flex;
    margin-left: 15px;
    margin-bottom: 8px;
}

.stats-sparkchart-highlights-range-line span {
    width: 30px;
    height: 15px;
    margin-top: 6px;
    margin-right: 10px;
}

.spark-chart-graph-preview {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.spark-chart-graph-preview li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 20px;
    height: 43px;
    color: var(--ydb-orange);
}

.spark-chart-graph-preview span {
    margin-left: -1.3em;
}

.sparkChart-graph-toolbar-size-tool {
    border: 1px silver solid;
    width: 230px;
    height: 90px;
    position: absolute;
    background: white;
    padding: 10px 20px;
    z-index: 100;
}

.sparkChart-graph-toolbar-yaxis-tool {
    border: 1px silver solid;
    width: 430px;
    height: 150px;
    position: absolute;
    background: white;
    padding: 10px 20px;
    z-index: 100;
}

.stats-graphs-sample-rate-range {
    padding: 5px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.chart-icons {
    position: absolute;
    right: 10px;
    top: 10px;
}

.chart-icons:hover {
    cursor: pointer;
}

.chart-icons-glyphs {
    color: silver;
    font-size: 16px;
}

.stats-mapping-table th {
    padding: 4px;
    top: 0;
    z-index: 1;
    background-color: #f0f0f0;
}


/*
************************
 Stats led
************************
 */

.led {
    margin: 20px;
    margin-top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

.led-gray {
    background-color: #ddd;
    box-shadow: none;
}

/*
************************
 File system save / load
************************
 */

input[type="file"] {
    display: none;
}

/*
************************
 Replication
************************
 */

.repl-instance-table {
    position: sticky;
    top: 0;
    z-index: 1;

}

.repl-instance-group {
    text-align: center;
    font-weight: bold;
    background-color: var(--ydb-orange);
    color: var(--ydb-darkgray)
}

.repl-rect-form {
    position: static;
    font-size: 14px;
    touch-action: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.repl-rect-row {
    margin-bottom: 5px;
}

.repl-rect-col-left {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.repl-rect-col-right {
    text-align: right;
    font-size: 16px;
}

.primary-header {
    background: lightcoral;
    color: yellow;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}

.secondary-header {
    background: lightseagreen;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}

.repl-rect-status-healthy {
    background: var(--ydb-status-green);
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.repl-rect-status-warning {
    background: var(--ydb-status-amber);
    color: white;
}

.repl-rect-status-error {
    background: var(--ydb-status-red);
    color: white;
}

.led-repl-toolbar {
    width: 19px;
    margin: 10px;
    margin-top: 11px;
}

.repl-popup-green {
    font-weight: bold;
    color: var(--ydb-status-green)
}

.repl-popup-red {
    font-weight: bold;
    color: var(--ydb-status-red)
}

.repl-popup-only-text {
    padding: 5px;
}

.repl-table-log {
    width: 100%;
    color: var(--ydb-purple);
}

.repl-filename-log {
    margin-bottom: 20px;
    font-weight: bold;
}

.repl-dead-pane {
    height: 100%;
    width: 100%;
    background: lightgray;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: gray;
    z-index: 10000;
    padding-top: 20px;
}

.repl-pill-bgnd-green {
    background: var(--ydb-status-green)
}

.repl-pill-bgnd-amber {
    background: var(--ydb-status-amber)
}

.repl-pill-fore-white {
    color: white !important;
}

.repl-pill-fore-red {
    color: var(--ydb-status-red) !important;
}

.list-group-item.active {
    background-color: var(--ydb-orange);
    border-color: var(--ydb-orange);
    color: white !important;
}

.modal-header {
    cursor: move;
}

.pu-width-80 {
    width: 80px;
}

.pu-width-100 {
    width: 100px;
}

.pu-width-120 {
    width: 120px;
}

.pu-width-150 {
    width: 150px;
}

.pu-width-250 {
    width: 250px;
}

.repl-help-link {
    font-weight: bold;
    color: var(--ydb-orange);
}

.repl-help-link:hover {
    color: var(--ydb-purple);
    cursor: pointer;
}
