<!-- Container -->
<div id="toastContainer" style="position: absolute; bottom: 0; right: 0; z-index: 500">
</div>

<!-- Master toast -->
<div style="display: none;">
    <div aria-atomic="true" aria-live="assertive" class="toast" id="toastMaster" role="alert" style="opacity: 1; min-width: 300px;">
        <div class="toast-header" id="toastHeader" style="padding-right: -1px;">
            <strong class="mr-auto" id="toastTitle"></strong>
            <small id="toastTimestamp" style="font-weight: bold"></small>
            <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" id="toastCloseButton" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="toastBody">

        </div>
    </div>
</div>
