<div aria-hidden="true" aria-labelledby="modalLabel" class="modal  fade" id="modalRegionEdit" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-900 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header center">
                <h6 class="modal-title">Edit region: <span id="lblRegionEditTitle"></span></h6>
            </div>

            <div class="modal-body" style="height:435px;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a aria-selected="true" class="nav-link active ydb-purple-fore" data-toggle="tab"
                           href="#tabRegionEditRegionRegion"
                           id="navRegionEditRegion" role="tab">Region</a>
                        <a aria-selected="false" class="nav-link ydb-purple-fore" data-toggle="tab"
                           href="#tabRegionEditRegionJournal"
                           id="navRegionEditJournal" role="tab">Journal</a>
                        <a aria-selected="false" class="nav-link ydb-purple-fore" data-toggle="tab"
                           href="#tabRegionEditRegionNames"
                           id="navRegionEditNames" role="tab">Names</a>
                        <div id="divRegionEditAdvancedParameters" style="width: 597px; text-align: right;">
                            <span style="padding-right: 15px;"><input id="chkRegionEditAdvancedMode" type="checkbox">
                                <label for="chkRegionEditAdvancedMode" style="padding-left: 5px;"> Show Advanced Parameters</label>
                            </span>
                        </div>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <!-- REGION -->
                    <div aria-labelledby="nav-home-tab" class="tab-pane fade show active"
                         id="tabRegionEditRegionRegion"
                         role="tabpanel">
                        <br>

                        <div id="divRegionEditRegionTables">
                            <div class="row-12" style="display: flex">
                                <div class="col-7">
                                    <h5 class="ydb-orange-fore" style="padding-bottom: 5px">Database file</h5>

                                    <div style="font-size: 12px; padding-bottom: 8px">
                                        <span style="padding-right: 90px;">Segment type: </span>
                                        <div class="region-edit-switch-type" id="dirtyRegionEditSegmentNameBg">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input checked class="custom-control-input" id="regionEditSegmentNameBg"
                                                       name="regionEditSegmentName" type="radio" value="bg">
                                                <label class="custom-control-label" for="regionEditSegmentNameBg">BG</label>
                                            </div>
                                        </div>
                                        <span style="padding-right: 40px;"></span>
                                        <div class="region-edit-switch-type" id="dirtyRegionEditSegmentNameMm">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" id="regionEditSegmentNameMm"
                                                       name="regionEditSegmentName" type="radio"
                                                       value="mm">
                                                <label class="custom-control-label" for="regionEditSegmentNameMm">MM</label>
                                            </div>
                                        </div>
                                        <a data-content="This is the message in the bottle" data-placement="bottom" data-toggle="popover" data-trigger="hover" id="puRegionEditSegmentType"
                                           tabindex="-1"
                                           title="SEGMENT TYPE">
                                            <i class="hand " id="iRegionEditSegmentType" style="padding-left: 5px;"></i>
                                        </a>
                                    </div>
                                    <div id="divRegionEditBg" style="overflow-x: hidden; height: 270px;">
                                        <table class="table table-sm table-hover ydb-fore2" id="tblRegionEditBg">
                                            <thead>
                                            <tr style="font-size: 12px; font-weight: 600;">
                                                <th scope="col" style="width: 162px;">Param</th>
                                                <th scope="col" style="width: 12px;"></th>
                                                <th scope="col" style="width: 235px;">Value</th>
                                                <th scope="col" style="width: 61px;">Unit</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="divRegionEditMm" style="overflow-x: hidden; height: 270px; display: none;">
                                        <table class="table table-sm table-hover ydb-fore2" id="tblRegionEditMm">
                                            <thead>
                                            <tr style="font-size: 12px; font-weight: 600;">
                                                <th scope="col" style="width: 162px;">Param</th>
                                                <th scope="col" style="width: 12px;"></th>
                                                <th scope="col" style="width: 235px;">Value</th>
                                                <th scope="col" style="width: 61px;">Unit</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <h5 class="ydb-orange-fore">Database access</h5>
                                    <div style="overflow-x: hidden; height: 261px;">
                                        <div style="height: 35px;"></div>
                                        <table class="table table-sm table-hover ydb-fore2"
                                               id="tblRegionEditAc">
                                            <thead>
                                            <tr style="font-size: 12px; font-weight: 600;">
                                                <th scope="col" style="width: 401px;">Param</th>
                                                <th scope="col" style="width: 12px;"></th>
                                                <th scope="col" style="width: 207px;">Value</th>
                                                <th scope="col" style="width: 80px;">Unit</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- JOURNAL -->
                    <div class="tab-pane fade" id="tabRegionEditRegionJournal" role="tabpanel">
                        <div class="row-12">
                            <div class="row" id="divRegionEditJournalTable">
                                <div class="col-12" style="text-align: center;">
                                    <br>
                                    <div style="font-size: 12px; padding-bottom: 10px">
                                        <div class="region-edit-switch-type" id="dirtyRegionEditJournal">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" id="optRegionEditJournalTypeYes"
                                                       name="optRegionEditJournalType"
                                                       type="radio">
                                                <label class="custom-control-label"
                                                       for="optRegionEditJournalTypeYes">Enabled</label>
                                            </div>
                                        </div>
                                        <span style="padding-right: 40px;"></span>
                                        <div class="region-edit-switch-type" id="dirtyRegionEditNoJournal">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input checked class="custom-control-input" id="optRegionEditJournalTypeNo"
                                                       name="optRegionEditJournalType" type="radio">
                                                <label class="custom-control-label"
                                                       for="optRegionEditJournalTypeNo">Disabled</label>
                                            </div>
                                        </div>
                                        <a data-content="" data-placement="bottom" data-toggle="popover" data-trigger="hover" id="puRegionEditJournal" tabindex="-1"
                                           title="JOURNAL">
                                            <i class="hand " id="iRegionEditJournal" style="padding-left: 5px;"></i>
                                        </a>
                                    </div>
                                    <div id="divRegionEditJournalParams">
                                        <h5 class="ydb-orange-fore">Parameters</h5>
                                        <div style="overflow-x: hidden; height: 270px; text-align: -webkit-center">
                                            <table class="table table-sm table-hover ydb-fore2 table-center"
                                                   id="tblRegionEditJo"
                                                   style="width: 576px;">
                                                <thead>
                                                <tr style="font-size: 12px; font-weight: 600;">
                                                    <th scope="col" style="width: 100px; text-align: left;">Param</th>
                                                    <th scope="col" style="width: 12px;"></th>
                                                    <th scope="col" style="width: 106px; text-align: left;">Value</th>
                                                    <th scope="col" style="width: 78px; text-align: left;">Unit</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divRegionEditJournalSpacer" style="display: none; height: 257px;"></div>
                        </div>
                    </div>

                    <!-- NAMES -->
                    <div class="tab-pane fade" id="tabRegionEditRegionNames" role="tabpanel">
                        <br>
                        <div class="row">
                            <div class="col-9">
                                <h5 class="ydb-orange-fore">Names</h5>
                                <div style="overflow-x: hidden; height: 308px;">
                                    <table class="table table-sm table-hover ydb-fore2" id="tblRegionEditNames"
                                           style="width: 611px;">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="custom-control custom-checkbox">
                                    <input checked class="custom-control-input" id="chkRegionEditNamesSystemNames"
                                           onclick="app.ui.regionShared.redrawNames($('#tblRegionEditNames > tbody'))"
                                           type="checkbox">
                                    <label class="custom-control-label" for="chkRegionEditNamesSystemNames">Display
                                        system names</label>
                                </div>
                                <br>
                                <div>
                                    <button class="btn btn-outline-info  btn-block btn-sm"
                                            id="btnRegionEditNamesAdd"
                                            type="button">Add name...
                                    </button>
                                    <button class="btn btn-outline-info  btn-block btn-sm disabled"
                                            disabled
                                            id="btnRegionEditNamesDelete" type="button">Delete name
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info disabled" disabled id="btnRegionEditOk" tabindex="10" type="button">
                    Edit
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel
                </button>
            </div>
        </div>
    </div>
</div>
