<!-- Create db dialog -->
<div class="modal fade" id="modalRegionCreateDbFile" tabindex="-1" role="dialog" style="top: 16px; z-index: 2000;">
    <div class="modal-dialog modal-width-700 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="lblRegionCreateDbFileHeader">Create database file</label>
                <button type="button" class="close" data-dismiss="modal" tabindex="-1" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row form-fields">
                    <div class="col-4 bold">
                        Allocation:
                    </div>
                    <div class="col-2 inconsolata" style="text-align: right">
                        <span id="lblRegionCreateDbAllocation"></span>
                    </div>
                    <div class="col-2">
                        blocks
                    </div>
                    <div class="col-2 inconsolata" style="text-align: right">
                        <span id="lblRegionCreateDbAllocationBytes"></span>
                    </div>
                    <div class="col-2">
                        <span id="lblRegionCreateDbAllocationBytesUnit"></span>
                    </div>
                </div>

                <div class="row form-fields">
                    <div class="col-4 bold">
                        Available space:
                    </div>
                    <div class="col-2 inconsolata" style="text-align: right">
                        <span id="lblRegionCreateDbAvailableSpace"></span>
                    </div>
                    <div class="col-2">
                        blocks
                    </div>
                    <div class="col-2 inconsolata" style="text-align: right">
                        <span id="lblRegionCreateDbAvailableSpaceBytes"></span>
                    </div>
                    <div class="col-2">
                        <span id="lblRegionCreateDbAvailableSpaceBytesUnit"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>

                <div class="row form-fields" style="padding-bottom: 10px;">
                    <div class="col-4 bold">
                        New available space:
                    </div>
                    <div class="col-2 inconsolata" style="text-align: right">
                        <span id="lblRegionCreateDbNewAvailableSpace"></span>
                    </div>
                    <div class="col-2">
                        blocks
                    </div>
                    <div class="col-2 inconsolata" style="text-align: right">
                        <span id="lblRegionCreateDbNewAvailableSpaceBytes"></span>
                    </div>
                    <div class="col-2">
                        <span id="lblRegionCreateDbNewAvailableSpaceBytesUnit"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnRegionCreateDbOk" tabindex="10" type="button">
                    Create
                </button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1">Close</button>
            </div>
        </div>
    </div>
</div>
