<div><!-- statsYgblPids dialog -->
    <div aria-hidden="true" aria-labelledby="modalLabel modal-scrollable" class="modal fade" id="statsYgblPids" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-width-400 " role="document">
            <div class="modal-content " style="top: 104px;">
                <div class="modal-header">
                    <label class="modal-title" id="modalStatsPidsTitle">PIDs</label>
                    <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <select class="form-control inconsolata" id="selStatsPidsPids" multiple size="8" style="width: 100%; font-size: 15px;"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center">
                    <button class="btn btn-outline-info" id="btnStatsPidsOk" tabindex="10" type="button">
                        Proceed
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
