<div><!-- modalStatsFheadPeekByNameSelector dialog -->
    <div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsFheadPeekByNameSelector" role="dialog"
         style="z-index: 10000;" tabindex="-1">
        <div class="modal-dialog modal-width-900 " role="document">
            <div class="modal-content modal-scrollable">
                <div class="modal-header">
                    <label class="modal-title" id="modalstatsFheadPeekByNameSelectorTitle"></label>
                    <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="bold">Samples:<br></h5>
                            <select class="form-control inconsolata" id="optStatsFheadPeekByNameSelectorSamples" multiple size="19" style="width: 100%; font-size: 15px; overflow-x: auto;">
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-6">
                            <h5 class="bold">Databases:</h5>
                            <select class="form-control" id="optStatsFheadPeekByNameSelectorRegions" style="width: 100%;">
                            </select>
                        </div>
                        <div class="col-6">
                            <h5 class="bold">Sample rate:</h5>
                            <div class="custom-control custom-radio" style="display: flex; padding-left: 0;">
                                <input class="form-control" id="inpStatsFheadPeekByNameSelectorRateSecs" max="200" min="0.1" step="0.1" style="width: 100%;" type="number">
                                <span>&nbsp;secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center">
                    <button class="btn btn-outline-info" id="btnStatsFheadPeekByNameSelectorOk" tabindex="10" type="button">
                        Ok
                    </button>
                    <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsFheadPeekByNameSelectorCancel" tabindex="-1" type="button">Cancel</button>
                    <button class="btn btn-outline-info btn-stats-help" id="btnStatsFheadPeekByNameSelectorHelp" title="Help" type="button">
                        <i class="bi bi-question-square" style="font-size: 20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
