<div><!-- statsYgblstatsSelector dialog -->
    <div aria-hidden="true" aria-labelledby="modalLabel modal-scrollable" class="modal fade" id="modalStatsSources" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-width-800 " role="document">
            <div class="modal-content " style="top: 104px;">
                <div class="modal-header">
                    <label class="modal-title" id="modalStatsSourcesTitle"></label>
                    <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-10">
                            <div style="border: 1px silver solid; overflow: auto; height: 400px;">
                                <table class="table table-sm table-bordered table-hover" id="tblStatsSources" style="width:100%;">
                                    <thead>
                                    <tr class="bold" style="font-size: 13px;">
                                        <th style="vertical-align: middle; width: 48px;">In use</th>
                                        <th style="vertical-align: middle; text-align: center; width: 80px;">Type</th>
                                        <th style="vertical-align: middle; width: 260px;">Samples</th>
                                        <th style="vertical-align: middle;">Processes</th>
                                        <th style="vertical-align: middle;">Databases</th>
                                        <th style="vertical-align: middle;">Sample rate<br>(secs)</th>
                                    </tr>
                                    </thead>
                                    <tbody class="hand" style="font-size: 13px;">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-2" style="padding-left: 2px;">
                            <div class="dropdown">
                                <button aria-expanded="false" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" style="width: 100%;" type="button">
                                    Add source
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" data-content="PEEKBYNAME requires less CPU, and database problems can cause it to hang. But it is the only one that provides replication information." data-toggle="popover" data-trigger="hover" href="#" id="btnStatsSourcesPeekByNameAdd"
                                       title="PEEKBYNAME">
                                        PEEKBYNAME (real-time)
                                    </a>
                                    <a class="dropdown-item" data-content="YGBLSTAT requires an environment variable to be set, and requires more CPU, but provides the best process information." data-toggle="popover" data-trigger="hover" href="#" id="btnStatsSourcesYgbStatsAdd"
                                       title="YGBLSTAT">
                                        YGBLSTAT (real-time by process)
                                    </a>
                                    <a class="dropdown-item" data-content="MUPIP DUMPFHEAD is the least intrusive, and lowest overhead. It always works, but gives less information." data-toggle="popover" data-trigger="hover" href="#" id="btnStatsSourcesFheadAdd"
                                       title="FHEAD">
                                        FHEAD (file header)
                                    </a>
                                </div>
                            </div>
                            <div style="height: 10px;"></div>
                            <button class="btn btn-outline-info" id="btnStatsSourcesEdit" style="width: 100%;" tabindex="10" type="button">Edit...</button>
                            <div style="height: 10px;"></div>
                            <button class="btn btn-outline-info" id="btnStatsSourcesDelete" style="width: 100%;" tabindex="10" type="button">Delete</button>
                            <div style="height: 10px;"></div>
                            <button class="btn btn-outline-info" id="btnStatsSourcesClearAll" style="width: 100%;" tabindex="10" type="button">Delete all</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center">
                    <button class="btn btn-outline-info" id="btnStatsSourcesOk" tabindex="10" type="button">
                        Ok
                    </button>
                    <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsSourcesCancel" tabindex="-1" type="button">Cancel</button>
                    <button class="btn btn-outline-info btn-stats-help" id="btnStatsSourcesHelp" title="Help" type="button">
                        <i class="bi bi-question-square" style="font-size: 20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
