<div><!-- modalStatsResultExport dialog -->
    <div aria-hidden="true" aria-labelledby="modalLabel modal-scrollable" class="modal fade" id="modalStatsResultExport" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-width-600 " role="document">
            <div class="modal-content " style="top: 104px;">
                <div class="modal-header">
                    <label class="modal-title" id="modalStatsSourcesTitle">Export</label>
                    <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row" style="margin-bottom: 7px;">
                        <div class="col-5 bold">
                            Add source information:
                        </div>
                        <div class="col-7">
                            <div class="custom-control custom-switch">
                                <input class="custom-control-input" id="swcStatsResultsExportSource" type="checkbox">
                                <label class="custom-control-label" for="swcStatsResultsExportSource"></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="margin-bottom: 7px;">
                        <div class="col-5 bold">
                            Timestamp format:
                        </div>
                        <div class="col-7">
                            <select class="form-control form-control-sm" id="selStatsResultExportTimestampFormat">
                                <option value="ISO8601">ISO 8601</option>
                                <option value="DateTime">Date, time (YYYY-MM-DD hh:mm:ss)</option>
                                <option value="DateTimeMilliseconds">Date, time and milliseconds (YYYY-MM-DD hh:mm:ss.nnn)</option>
                                <option value="Time">Time (hh:mm:ss)</option>
                                <option value="TimeMilliseconds">Time and milliseconds (hh:mm:ss.nnn)</option>
                                <option value="UnixEpoch">Unix epoch</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="margin-bottom: 7px;">
                        <div class="col-5 bold">
                            Add fields header row:
                        </div>
                        <div class="col-7">
                            <div class="custom-control custom-switch">
                                <input checked class="custom-control-input" id="swcStatsResultsExportHeader" type="checkbox">
                                <label class="custom-control-label" for="swcStatsResultsExportHeader"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divStatsResultsExportHeaderFields">
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div class="row" id="divStatsResultsExportHeaderRegions">
                                <div class="col-10">
                                    Include in field name:<br>
                                    <div class="custom-control custom-switch" style="margin-left: 20px;">
                                        <input class="custom-control-input" id="swcStatsResultsExportHeaderRegions" type="checkbox">
                                        <label class="custom-control-label" for="swcStatsResultsExportHeaderRegions">Region name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divStatsResultsExportHeaderProcesses">
                                <div class="col-10">
                                    <div class="custom-control custom-switch" style="margin-left: 20px;">
                                        <input class="custom-control-input" id="swcStatsResultsExportHeaderProcesses" type="checkbox">
                                        <label class="custom-control-label" for="swcStatsResultsExportHeaderProcesses">PID</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divStatsResultsExportHeaderSampleValue">
                                <div class="col-10">
                                    <div class="custom-control custom-switch" style="margin-left: 20px;">
                                        <input checked class="custom-control-input disabled" disabled id="customSwitch12" type="checkbox">
                                        <label class="custom-control-label disabled" for="customSwitch12">Sample / Value</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="margin-bottom: 7px;">
                        <div class="col-5 bold">
                            Row terminator:
                        </div>
                        <div class="col-7">
                            <select class="form-control form-control-sm" id="selStatsResultsExportRowTerminator">
                                <option value="LF">LF (\n)</option>
                                <option value="CRLF">CRLF (\r\n)</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="modal-footer center">
                    <button class="btn btn-outline-info" id="btnStatsResultsExportOk" tabindex="10" type="button">
                        Ok
                    </button>
                    <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsSourcesCancel" tabindex="-1" type="button">Cancel</button>
                    <button class="btn btn-outline-info " id="btnStatsResultExportHelp" style="width: 37px; height: 37px; padding-left: 8px; margin-left: 30px;" title="Help"
                            type="button">
                        <i class="bi bi-question-square" style="font-size: 20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
