<!-- Stats SparkChart Report Line dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsSparkChartReportLine" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-900  modal-dialog-centered" role="document" style="top: -33px;">
        <div class="modal-content modal-scrollable">
            <div class="modal-header ">
                <label class="modal-title">Table properties</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable" style="height: 600px;">
                <div class="row">
                    <div class="col-2">
                        <h5>Regions:</h5>
                    </div>
                    <div class="col-4">
                        <span id="lblStatsSparkChartReportLineRegions" style="font-size: 14px;"></span>
                    </div>
                    <div class="col-2">
                        <h5>Processes:</h5>
                    </div>
                    <div class="col-4">
                        <span id="lblStatsSparkChartReportLineProcesses" style="font-size: 14px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Samples:</h5>
                    </div>
                    <div class="col-10">
                        <span id="lblStatsSparkChartReportLineSamples" style="font-size: 14px;"></span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12">
                        <h5>Orientation:</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" id="divStatsSparkChartReportLineHleft">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" id="optStatsSparkChartReportLineH" name="optStatsSparkChartReportLine" type="radio">
                            <label class="custom-control-label" for="optStatsSparkChartReportLineH">Horizontal</label>
                        </div>
                    </div>
                    <div class="col-4" id="divStatsSparkChartReportLineHright"></div>

                    <div class="col-2" id="divStatsSparkChartReportLineVleft">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" id="optStatsSparkChartReportLineV" name="optStatsSparkChartReportLine" type="radio">
                            <label class="custom-control-label" for="optStatsSparkChartReportLineV">Vertical</label>
                        </div>
                    </div>
                    <div class="col-4" id="divStatsSparkChartReportLineVright">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12">
                        <h5>Preview:</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="divStatsSparkChartReportLinePreview" style="border: 1px solid silver; height: 345px; overflow: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <div class="btn-group dropup">
                    <button class="btn btn-outline-info" id="btnStatsSparkChartReportLineSettings" type="button">Settings...</button>
                    <button aria-expanded="false" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" type="button">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" id="btnStatsSparkChartReportLineResetSettings">Reset settings</a>
                        <a class="dropdown-item" href="#" id="btnStatsSparkChartReportLineSaveSettings">Save settings as default</a>
                    </div>
                </div>
                <button class="btn btn-outline-info" id="btnStatsSparkChartReportLineOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsSparkChartReportLineCancel" tabindex="-1" type="button">Cancel</button>
                <button class="btn btn-outline-info btn-stats-help" id="btnStatsSparkChartReportLineHelp" title="Help" type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>

